@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #f8fafc;
  color: #1e293b;
  font-family: -apple-system, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

button, a {
  cursor: pointer;
}
